#about-us {
    background-color: yellow;
}

#c1 {
    display:inline-block;
    background-color:rgb(221, 67, 67);
    width: 100px;
    height:100px;
  }
  #c2 {
    display: inline-block;
    background-color:rgb(121, 67, 221);
    width: 100px;
    height:100px;
  }
  #c3 {
    display:inline-block;
    background-color:rgb(221, 67, 183);
    width: 100px;
    height:100px;
  }

  #c4 {
    border-style: solid;
    border-color:rgb(221, 67, 183);
    width: 100px;
    height:100px;
  }
  #c5 {
    border-style: solid;
    border-color:rgb(136, 103, 14);
    width: 100px;
    height:100px;
  }
  #c6 {
    border-style: solid;
    border-color:rgb(85, 221, 67);
    width: 100px;
    height:100px;
  }

  #button {
      color: rgb(160, 134, 154);
      display: inline-block;
      width: 150px;
      height: 40 px;
      background-color: rgb(22, 18, 10);
  }